/*body {
	font-family: 'Catamaran', 'Calibri', sans-serif;
}*/

/*Layout*/

body {
	padding: 5px 10px;
}

body>header {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
}

.header-top {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.header-top-start {
	display: inline-flex;
    align-content: center;
}
.header-top-middle {
	flex-grow: 1;
    max-width: 200px;
}
.header-top-end {
	margin: 0 auto;
}
.navigation {
	display: flex;
	flex-flow: row wrap;
	/* This aligns items to the end line on main-axis */
	justify-content: space-between;
	list-style: none;
	width: 100%;
	padding-left: 0;
	margin-top: 0;
}

.header-end {
	padding: 20px;
}

.content-container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}
.content-container>* {
	margin: 0 auto;
}


/*Typography*/

.upper-case {
	text-transform: uppercase;
}